IMPORT LIBRARIES

In [1]:
#Import necessary packages
import pandas as pd
import numpy as np #delete if i am not using the library

LOAD PLAYER INFORMATION DATASET

In [2]:
#Load 2_players_information_2223_season.csv file
main_data = pd.read_csv("datasets/2_players_information_2223_season.csv")
main_data.head(2)

,CLUB_NAME,PLAYER_NAME,PLAYER_VALUE,PLAYER_HREF,CLUB_HREF,LEAGUE_NAME,LEAGUE_COUNTRY
0,Manchester City,Ederson,€40.00m,/ederson/profil/spieler/238223,https://www.transfermarkt.us/manchester-city/s...,Premier League,England
1,Manchester City,S. Ortega,€9.00m,/stefan-ortega/profil/spieler/85941,https://www.transfermarkt.us/manchester-city/s...,Premier League,England

In [3]:
#what is the used of this command, what that code explains
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3792 entries, 0 to 3791
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CLUB_NAME       3792 non-null   object
 1   PLAYER_NAME     3792 non-null   object
 2   PLAYER_VALUE    3638 non-null   object
 3   PLAYER_HREF     3792 non-null   object
 4   CLUB_HREF       3792 non-null   object
 5   LEAGUE_NAME     3792 non-null   object
 6   LEAGUE_COUNTRY  3792 non-null   object
dtypes: object(7)
memory usage: 207.5+ KB

In [4]:
#this code gives me the features information
main_data.columns

Index(['CLUB_NAME', 'PLAYER_NAME', 'PLAYER_VALUE', 'PLAYER_HREF', 'CLUB_HREF',
       'LEAGUE_NAME', 'LEAGUE_COUNTRY'],
      dtype='object')

In [5]:
#I am needing this base url to concatenate to the Player's link
base_URL = "https://www.transfermarkt.com"

In [6]:
main_data['PLAYER_HREF'] = base_URL + main_data['PLAYER_HREF']

In [7]:
main_data.head(2)

,CLUB_NAME,PLAYER_NAME,PLAYER_VALUE,PLAYER_HREF,CLUB_HREF,LEAGUE_NAME,LEAGUE_COUNTRY
0,Manchester City,Ederson,€40.00m,https://www.transfermarkt.com/ederson/profil/s...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England
1,Manchester City,S. Ortega,€9.00m,https://www.transfermarkt.com/stefan-ortega/pr...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England

ADD URL FBREF TO DATASET

In [8]:
#Load 5_FBref_Transfermarkt_mapping.csv file
player_mapping = pd.read_csv("datasets/5_FBref_Transfermarkt_mapping.csv", encoding="latin1")
print(player_mapping.head(2))
print("Player mapping data shape is:", player_mapping.shape)

      PlayerFBref                                           UrlFBref  \
0  A.J. DeLaGarza  https://fbref.com/en/players/171b3c37/AJ-DeLaG...
1     AJ Marcucci  https://fbref.com/en/players/20c86a38/AJ-Marcucci

                                           UrlTmarkt       TmPos
0  https://www.transfermarkt.com/a-j-delagarza/pr...  Right-Back
1  https://www.transfermarkt.com/aj-marcucci/prof...  Goalkeeper
Player mapping data shape is: (14250, 4)

In [9]:
player_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14250 entries, 0 to 14249
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PlayerFBref  14250 non-null  object
 1   UrlFBref     14250 non-null  object
 2   UrlTmarkt    14250 non-null  object
 3   TmPos        14239 non-null  object
dtypes: object(4)
memory usage: 445.4+ KB

In [10]:
# Perform left join to merge player_main_data and player_mapping based on PLAYER_HREF column
main_data_2 = main_data.merge(player_mapping[['UrlFBref','UrlTmarkt']],
                                     left_on='PLAYER_HREF', right_on='UrlTmarkt', how='left')

# Delete the "CLUB" column from the merged_data dataframe
main_data_2.drop("UrlTmarkt", axis=1, inplace=True)

# Print the merged dataframe
main_data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3792 entries, 0 to 3791
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CLUB_NAME       3792 non-null   object
 1   PLAYER_NAME     3792 non-null   object
 2   PLAYER_VALUE    3638 non-null   object
 3   PLAYER_HREF     3792 non-null   object
 4   CLUB_HREF       3792 non-null   object
 5   LEAGUE_NAME     3792 non-null   object
 6   LEAGUE_COUNTRY  3792 non-null   object
 7   UrlFBref        3207 non-null   object
dtypes: object(8)
memory usage: 266.6+ KB

In [11]:
main_data_2.head(5)

,CLUB_NAME,PLAYER_NAME,PLAYER_VALUE,PLAYER_HREF,CLUB_HREF,LEAGUE_NAME,LEAGUE_COUNTRY,UrlFBref
0,Manchester City,Ederson,€40.00m,https://www.transfermarkt.com/ederson/profil/s...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England,https://fbref.com/en/players/3bb7b8b4/Ederson
1,Manchester City,S. Ortega,€9.00m,https://www.transfermarkt.com/stefan-ortega/pr...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England,https://fbref.com/en/players/c1242d4e/Stefan-O...
2,Manchester City,Z. Steffen,€3.50m,https://www.transfermarkt.com/zack-steffen/pro...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England,https://fbref.com/en/players/42130443/Zack-Ste...
3,Manchester City,S. Carson,€200k,https://www.transfermarkt.com/scott-carson/pro...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England,https://fbref.com/en/players/3e1550ee/Scott-Ca...
4,Manchester City,R. Dias,€80.00m,https://www.transfermarkt.com/ruben-dias/profi...,https://www.transfermarkt.us/manchester-city/s...,Premier League,England,https://fbref.com/en/players/31c69ef1/Ruben-Dias

In [12]:
main_data_2.columns

Index(['CLUB_NAME', 'PLAYER_NAME', 'PLAYER_VALUE', 'PLAYER_HREF', 'CLUB_HREF',
       'LEAGUE_NAME', 'LEAGUE_COUNTRY', 'UrlFBref'],
      dtype='object')

ADD NATIONALITY

In [13]:
#Load 3_players_main_info_2223_season.csv file
player_nationality = pd.read_csv("datasets/3_players_main_info_2223_season.csv")
player_nationality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   URL                    3579 non-null   object
 1   CURRENT_INTERNATIONAL  3579 non-null   object
 2   CURRENT_MARKET_VALUE   3442 non-null   object
dtypes: object(3)
memory usage: 84.0+ KB

In [14]:
player_nationality.head(2)

,URL,CURRENT_INTERNATIONAL,CURRENT_MARKET_VALUE
0,https://www.transfermarkt.com/ederson/profil/s...,Brazil,€40.00m
1,https://www.transfermarkt.com/stefan-ortega/pr...,Germany,€9.00m

In [15]:
player_nationality.columns

Index(['URL', 'CURRENT_INTERNATIONAL', 'CURRENT_MARKET_VALUE'], dtype='object')

In [16]:
# Perform left join to merge player_main_data and player_mapping based on PLAYER_HREF column
main_data_3 = main_data_2.merge(player_nationality[['CURRENT_INTERNATIONAL', 'URL']],
                                     left_on='PLAYER_HREF', right_on='URL', how='left')

# Delete the "CLUB" column from the merged_data dataframe
main_data_3.drop("URL", axis=1, inplace=True)

# Print the merged dataframe
main_data_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3792 entries, 0 to 3791
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CLUB_NAME              3792 non-null   object
 1   PLAYER_NAME            3792 non-null   object
 2   PLAYER_VALUE           3638 non-null   object
 3   PLAYER_HREF            3792 non-null   object
 4   CLUB_HREF              3792 non-null   object
 5   LEAGUE_NAME            3792 non-null   object
 6   LEAGUE_COUNTRY         3792 non-null   object
 7   UrlFBref               3207 non-null   object
 8   CURRENT_INTERNATIONAL  3792 non-null   object
dtypes: object(9)
memory usage: 296.2+ KB

ADD PLAYER FACTS TO DATASET

In [17]:
#Load 4_players_complete_info_2223_season_v2.csv file
player_complete = pd.read_csv("datasets/4_players_complete_info_2223_season_v3.csv")
player_complete.head(2)

,INDEX,PLAYER_NAME,DATE_OF_BIRTH,AGE,HEIGHT,CITIZENSHIP,CURRENT_CLUB,JOINED,POSITION,FOOT,PLAYER_AGENT,OUTFITTER,INSTAGRAM,MAX_PLAYER_VALUATION,MAX_PLAYER_VALUATION_DATE,URL,SHORT_NAME
0,0,Ederson,1993-08-17,29.0,1.88,Brazil Portugal,Manchester City,2017-07-01,Goalkeeper,left,Gestifute,Puma,http://instagram.com/ederson93/,70000000.0,2019-06-13,https://www.transfermarkt.com/ederson/profil/s...,Manchester City
1,0,Stefan Ortega,1992-11-06,30.0,1.85,Germany Spain,Manchester City,2022-07-01,Goalkeeper,right,neblung ...,NaN,http://instagram.com/stefan.ortega1/,9000000.0,2023-06-20,https://www.transfermarkt.com/stefan-ortega/pr...,Manchester City

In [18]:
player_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3792 entries, 0 to 3791
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   INDEX                      3792 non-null   int64
 1   PLAYER_NAME                3792 non-null   object
 2   DATE_OF_BIRTH              3779 non-null   object
 3   AGE                        3791 non-null   float64
 4   HEIGHT                     3570 non-null   float64
 5   CITIZENSHIP                3792 non-null   object
 6   CURRENT_CLUB               3792 non-null   object
 7   JOINED                     3771 non-null   object
 8   POSITION                   3792 non-null   object
 9   FOOT                       3583 non-null   object
 10  PLAYER_AGENT               3338 non-null   object
 11  OUTFITTER                  1264 non-null   object
 12  INSTAGRAM                  2858 non-null   object
 13  MAX_PLAYER_VALUATION       2890 non-null   float64
 14  MAX_PLAYER_VALUATION_DATE  3656 non-null   object
 15  URL                        3792 non-null   object
 16  SHORT_NAME                 3792 non-null   object
dtypes: float64(3), int64(1), object(13)
memory usage: 503.8+ KB

In [19]:
player_complete.columns

Index(['INDEX', 'PLAYER_NAME', 'DATE_OF_BIRTH', 'AGE', 'HEIGHT', 'CITIZENSHIP',
       'CURRENT_CLUB', 'JOINED', 'POSITION', 'FOOT', 'PLAYER_AGENT',
       'OUTFITTER', 'INSTAGRAM', 'MAX_PLAYER_VALUATION',
       'MAX_PLAYER_VALUATION_DATE', 'URL', 'SHORT_NAME'],
      dtype='object')

In [20]:
# Perform left join to merge player_main_data and player_mapping based on PLAYER_HREF column
main_data_4 = main_data_3.merge(player_complete[['DATE_OF_BIRTH', 'AGE', 'HEIGHT', 'CITIZENSHIP', 
                                                      'CURRENT_CLUB', 'JOINED', 'POSITION', 'FOOT', 'PLAYER_AGENT', 
                                                      'OUTFITTER', 'MAX_PLAYER_VALUATION', 'MAX_PLAYER_VALUATION_DATE', 'URL']],
                                     left_on='PLAYER_HREF', right_on='URL', how='left')

# Delete the "CLUB" column from the merged_data dataframe
main_data_4.drop(columns=["URL", "CITIZENSHIP"], axis=1, inplace=True)

# Print the merged dataframe
main_data_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4220 entries, 0 to 4219
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CLUB_NAME                  4220 non-null   object
 1   PLAYER_NAME                4220 non-null   object
 2   PLAYER_VALUE               4066 non-null   object
 3   PLAYER_HREF                4220 non-null   object
 4   CLUB_HREF                  4220 non-null   object
 5   LEAGUE_NAME                4220 non-null   object
 6   LEAGUE_COUNTRY             4220 non-null   object
 7   UrlFBref                   3635 non-null   object
 8   CURRENT_INTERNATIONAL      4220 non-null   object
 9   DATE_OF_BIRTH              4205 non-null   object
 10  AGE                        4219 non-null   float64
 11  HEIGHT                     3998 non-null   float64
 12  CURRENT_CLUB               4220 non-null   object
 13  JOINED                     4199 non-null   object
 14  POSITION                   4220 non-null   object
 15  FOOT                       4011 non-null   object
 16  PLAYER_AGENT               3742 non-null   object
 17  OUTFITTER                  1440 non-null   object
 18  MAX_PLAYER_VALUATION       3318 non-null   float64
 19  MAX_PLAYER_VALUATION_DATE  4084 non-null   object
dtypes: float64(3), object(17)
memory usage: 692.3+ KB

In [21]:
main_data_4.to_csv('datasets/temp/test.csv', index=False)

In [22]:
main_data_4.drop_duplicates(subset=['CLUB_NAME','PLAYER_HREF'], keep='first', inplace=True)

In [23]:
# Identify the duplicates based on "PLAYER_HREF"
duplicates = main_data_4[main_data_4.duplicated(subset='PLAYER_HREF', keep=False)]

# Filter out the duplicates where "CLUB_NAME" is different from "CURRENT_CLUB"
main_data_5 = main_data_4[~((main_data_4['PLAYER_HREF'].isin(duplicates['PLAYER_HREF'])) &
                            (main_data_4['CLUB_NAME'] != main_data_4['CURRENT_CLUB']))]

In [24]:
main_data_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3555 entries, 0 to 4219
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CLUB_NAME                  3555 non-null   object
 1   PLAYER_NAME                3555 non-null   object
 2   PLAYER_VALUE               3401 non-null   object
 3   PLAYER_HREF                3555 non-null   object
 4   CLUB_HREF                  3555 non-null   object
 5   LEAGUE_NAME                3555 non-null   object
 6   LEAGUE_COUNTRY             3555 non-null   object
 7   UrlFBref                   2970 non-null   object
 8   CURRENT_INTERNATIONAL      3555 non-null   object
 9   DATE_OF_BIRTH              3543 non-null   object
 10  AGE                        3554 non-null   float64
 11  HEIGHT                     3333 non-null   float64
 12  CURRENT_CLUB               3555 non-null   object
 13  JOINED                     3534 non-null   object
 14  POSITION                   3555 non-null   object
 15  FOOT                       3346 non-null   object
 16  PLAYER_AGENT               3114 non-null   object
 17  OUTFITTER                  1164 non-null   object
 18  MAX_PLAYER_VALUATION       2653 non-null   float64
 19  MAX_PLAYER_VALUATION_DATE  3419 non-null   object
dtypes: float64(3), object(17)
memory usage: 583.2+ KB

ADD STATS TO DATASET

In [25]:
# Stats were aggregated in the 7_aggregate_stats notebook
# Load aggregated stats
    #agg_standard_stats.csv
    #agg_shooting_stats.csv
    #agg_possession_stats.csv
    #agg_playing_time_stats.csv
    #agg_pass_stats.csv
    #agg_misc_stats.csv
    #agg_keeper_stats.csv
    #agg_gca_stats.csv
    #agg_defense_stats.csv

In [26]:
def create_raw_final_dataset(): 
    # Define the list of aggregated stats datasets
    aggregated_stats_files = ['agg_standard_stats.csv',
                            'agg_shooting_stats.csv',
                            'agg_possession_stats.csv',
                            'agg_playing_time_stats.csv',
                            'agg_pass_stats.csv',
                            'agg_misc_stats.csv',
                            'agg_keeper_stats.csv',
                            'agg_gca_stats.csv',
                            'agg_defense_stats.csv']
    
    #Define input directory
    input_directory = "datasets/aggregated/"
    
    # Define the output directory and filename
    output_directory = "datasets/raw_data_final/"
    output_filename = "raw_final_dataset.csv"
    
    # Merge aggregated stats datasets with player_main_data_5
    final_dataset = main_data_5.copy()  # Create a copy of player_main_data_5 as the starting point
    
    for file in aggregated_stats_files:
        # Load the aggregated stats dataset
        file_input_name = input_directory + file
        aggregated_stats = pd.read_csv(file_input_name)
        
        # Merge the aggregated stats with final_dataset using the "PLAYER_HREF" column
        final_dataset = final_dataset.merge(aggregated_stats, 
                                            left_on="UrlFBref", right_on="URL", how="left")
        
        # Delete the "Url" column from the merged_data dataframe
        final_dataset.drop("URL", axis=1, inplace=True)
    
    # Save the final dataset as raw_final_dataset.csv
    output_path = output_directory + output_filename
    final_dataset.to_csv(output_path, index=False)
    
    print("Raw final dataset saved to:", output_path)

In [27]:
create_raw_final_dataset()

Raw final dataset saved to: datasets/raw_data_final/raw_final_dataset.csv

RAW DATASET CREATED